
.fa-angle-down:before {
    content: "\f107";
}
.fa-angle-up:before {
    content: "\f106";
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e4e4e7;
}
.nav-bar{
    background-color: #4D3154;
}